---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-4/12 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-lime">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">Testimonials</h2>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-8/12 md:py-10">
        <p class="text-xl font-normal leading-7 text-center md:text-left">Hear from our satisfied guests</p>
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
        <span class="text-lime text-lg font-bold">Comfortable and inexpensive</span>
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"The brickyard was very comfortable with new beds and contained everything you need. Checking in was very easy, even after hours as you are given a code to enter. The owner was very helpful and communicative. Much cheaper than other motels in town"</p>
            <span class="text-white text-base md:text-xl font-medium">Norman, </span><span class="text-white text-lg font-normal">Oklahoma</span>
        </div>
         <div class="p-4 md:p-10">
                <span class="text-lime text-lg font-bold">Best Value in Rawlins for < $100. A real Gem!</span>
                    <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"These are the best renovations for an old Motel they use nice materials and the amenities are more than I remember. Full size Refrigerator, desk, microwave, full sink in kitchen with some dishes, great coffee in the am, the bathroom was well done with the new wrap around shower insert, and the shower head is top of the line. Even the toilet stands out like the lavatory."</p>
                    <span class="text-white text-base md:text-xl font-medium">Franklinton, </span><span class="text-white text-lg font-normal">Honduras</span>
                </div>
                 <div class="p-4 md:p-10">
                                <span class="text-lime text-lg font-bold">Pleasantly Surprised</span>
                                    <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"My partner and I were traveling and were caught in inclement weather. Since our stop was unexpected, we wanted our stay to be as budget-friendly as possible. In this area it seemed that our options were under $100 and over $200. There was nothing mid range.<br><br>The first two places I called didn’t answer and had voicemail that was not set up to take messages. The Brickyard Inn was my third call. By that time, my cell connection was spotty at best. Diana quickly took my credit card information and told me that she would text me the details. This was the absolute easiest lodging check-in that I have ever dealt with in my life. They texted me a key code to the door, the room number, and I didn’t have to make an appearance at the front desk. Diana sent me information about local restaurants that would be still be open at our late arrival time.<br><br>If you expect anything other than an aged, budget motel, then you will be disappointed. My expectations were incredibly low, and I was pleasantly surprised at how clean and comfortable the room was. It is definitely an older building, older fixtures, but… I can deal with old so long as everything is clean.<br><br>I hope never to be caught in Rawlins, Wyoming unexpectedly ever again, but if it happens, I know the first phone call I will be making will be to the Brickyard Inn."</p>
                                    <span class="text-white text-base md:text-xl font-medium">TheDivineMsM, </span><span class="text-white text-lg font-normal">Elko, Nevada</span>
                                </div>
                                 <div class="p-4 md:p-10">
                                                <span class="text-lime text-lg font-bold">I'll be back!</span>
                                                    <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"TFrom the check-in - very hospitable, nice, and friendly, to the room - very comfortable bed, clean, full-size fridge good wi-fi, and lots of cable, tv channels - it was great! I slept better than I have in a long time - maybe it was the friendly vibe I felt from the person at the front desk and the homey feel of the place itself. Great nightly rate - I'll stay hear again when I'm passing through."</p>
                                                    <span class="text-white text-base md:text-xl font-medium">Kevin Strong </span><span class="text-white text-lg font-normal"></span>
                                                </div>
    </div>
</div>

</Container>